<div class="tree">
	<h1>DARE TO LIVE THE LIFE YOU'VE ALWAYS WANTED!</h1>
</div>
<br />

<% @ones.each do |one| %>
   <div class="booyah-box col-10 offset-1">
    <h1><%= one.name %></h1>
    <i><%= one.address %></i><br /><br />
    <p><%= one.description %></p><br />
  </div>

<% end %>