<h1>DARE TO LIVE THE LIFE YOU'VE ALWAYS WANTED!</h1>
<br />

<% @ones.each do |one| %>
  <div>
    <h1><%= one.name %></h1><br />
    <i><%= one.address %></i><br />
    <p><%= one.description %></p><br />
  </div>

  <hr />
<% end %>